<template>
  <div class="head">
    <span class="data">Badge</span>
    <span class="label">Rocket Name</span>
    <span class="label">Rocket Type</span>
    <span class="label">Launch Date</span>
    <span class="desc">Details</span>
    <span class="data">ID</span>
    <span class="data">Article</span>
  </div>
</template>

<script>
export default {
  name: 'Header',
}
</script>

<style>
.head {
  display: flex;
  justify-content: space-between;
  color: #043d67;
  font-weight: bold;
  background-image: linear-gradient(#a1bacf, #ffffff);
  padding: 1rem 0;
}
.data {
  width: 90px;
  text-align: center;
}

.label {
  width: 130px;
}

.description {
  width: 400px;
}
</style>
