<template>
  <li>
    <span class="data">
      <img :src="launchData.badgeUrl" />
    </span>
    <span class="label">{{ launchData.rocketName }}</span>
    <span class="label">{{ launchData.rocketType }}</span>
    <span class="label">{{ launchData.date }}</span>
    <span class="description">{{ launchData.details }}</span>
    <span class="data">{{ launchData.id }}</span>
    <span class="data">
      <a
        v-if="launchData.article"
        @click="openLink(launchData.article)"
      ></a>
    </span>
  </li>
</template>

<script>
export default {
  name: 'Row',
  props: {
    launchData: {
      validator (data) {
        return data.badgeUrl
          && data.rocketName
          && data.rocketType
          && data.date
          && data.id;
      }
    }
  },
  methods: {
    openLink (href) {
      window.open(href, '_blank');
    },
  },
}
</script>

<style scoped lang="less">
.data {
  width: 90px;
  text-align: center;
}

.label {
  width: 130px;
}

.description {
  width: 400px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #444444;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 0.25rem 0;
  margin: 0.5rem 0;
  border: 1px solid #ffffff;
  border-radius: 0.5rem 0.5rem;
  .data {
    img {
      max-width: 50px;
      padding: 0.65rem;
      box-sizing: border-box;
    }
    a {
      color: #13a2e8;
      display: inline-block;
      width: 2rem;
      height: 2rem;
      background-image: url("../assets/images/link.svg");
      background-size: 2rem 2rem;
      background-repeat: no-repeat;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      cursor: pointer;
    }
  }
}
</style>
