<template>
  <div class="table">
    <Header></Header>
    <ul>
      <Row
        v-for="launch in launches"
        :key="launch.id"
        :launchData="launch"
      ></Row>
    </ul>
  </div>
</template>

<script>
import Header from '@/components/Header.vue'
import Row from '@/components/Row.vue'

export default {
  name: 'Table',
  components: {
    Header,
    Row
  },
  props: {
    launches: Array
  },
  data () {
    return {
      //
    }
  },
}
</script>

<style scoped lang="less">
.table ul {
  padding: 0;
  margin: 0;
}
</style>
