<template>
  <div class="main">
    <h1>SpaceX Launches</h1>

    <div class="launches">
      <Filters
        :options.sync="filter"
        @refresh="getData"
      ></Filters>

      <Table :launches="filteredLaunches"></Table>
    </div>
  </div>
</template>

<script>
import Table from '@/components/Table.vue'
import Filters from '@/components/Filters.vue'

import axios from 'axios'
export default {
  name: 'App',
  components: {
    Table,
    Filters
  },
  data () {
    return {
      launches: [],
      apiLink: 'https://api.spacexdata.com/v2/launches',
      filter: {
        landed: true,
        reused: false,
        attachment: false,
      },
    }
  },
  created () {
    this.getData();
  },
  methods: {
    getData () {
      axios.get(this.apiLink, {})
        .then(res => {
          this.launches = res.data
          this.isLoading = false
        })
        .catch(error => {
          // eslint-disable-next-line no-console
          console.log("Opps, can't get data!", error);
        })
    }
  },
  computed: {
    filteredLaunches () {
      let filteredLaunches = new Array();

      for (let launch of this.launches) {
        // Sortable options
        let landedSucessfully = launch.launch_success;
        let wasReused = launch.reuse.capsule
          || launch.reuse.core
          || launch.reuse.fairings
          || launch.reuse.side_core1
          || launch.reuse.side_core2;
        let isReddit = false;

        for (let key in launch.links) {
          if (key.startsWith('reddit_')) {
            isReddit = true;
            break;
          }
        }

        // If launch meets filter criteria...
        if (
          (!this.filter.landed || (this.filter.landed && landedSucessfully))
          && (!this.filter.reused || (this.filter.reused && wasReused))
          && (!this.filter.attachment || (this.filter.attachment && isReddit))
        ) {
          // ... add it to the filteredLaunches array
          let launchDate = new Date(launch.launch_date_utc);

          filteredLaunches.push({
            badgeUrl: launch.links.mission_patch_small || './assets/images/placeholder.png',
            rocketName: launch.rocket.rocket_name,
            rocketType: launch.rocket.rocket_type,
            date: `${launchDate.getMonth()}/${launchDate.getDate()}/${launchDate.getFullYear()}`,
            details: launch.details,
            id: launch.flight_number,
            article: launch.links.article_link || launch.links.wikipedia || '',

            landedSucessfully: landedSucessfully,
            wasReused: wasReused
          });
        }
      }

      return filteredLaunches;
    }
  },
}
</script>

<style>
@font-face {
  font-family: "Geomanist";
  src: url("./assets/fonts/geomanist-regular-webfont.ttf");
}
body {
  font-family: "Geomanist", "sans-serif";
  background-image: url("assets/images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.main {
  width: 960px;
  margin: 0 auto;
}
.main > h1 {
  text-align: center;
  color: #efefef;
  font-size: 3rem;
  font-weight: normal;
  text-shadow: 2px 2px 4px black;
  margin: 20px;
}
.launches {
  margin: 50px;
}
</style>
